body {
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
main {
    margin-top: 70px; 
}  

.container {
    width: 1440px;
    margin: 0 auto; 
    padding: 20px;
}



.best-seller-badge {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 80px;
    transform: rotate(-20deg);
    z-index: 10;

}

  
  @media (max-width: 768px) {
    .position-absolute.bottom-0.end-0.p-4 {
        width: 100%;
        left: 0;
        right: 0;
        padding: 1rem;
    }
    .position-absolute.bottom-0.end-0.p-4 img {
        width: 100%;
    }
}
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}


#scrollToTopBtn {
    position: fixed;
    bottom: 100px; 
    right: 24px; 
    z-index: 99; 
    background-color: #b30000;
    color: white;
    border: none;
    padding: 12px 16px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: none;
    transition: all 0.3s ease;
}

  #scrollToTopBtn:hover {
    background-color: #ff4c4c;
  }
  @media (max-width: 768px) {
    #scrollToTopBtn {
      bottom: 120px; 
    }
  }
  #scrollToTopBtn i {
    transition: color 0.3s ease;
    color: red; 
}

#scrollToTopBtn:hover i {
    color: white; 
}

  




/*Whattsap*/
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background-color 0.3s;
  z-index: 9999; 
  font-size: 14px; 
}

.whatsapp-button:hover {
  background-color: #1ebe5d;
}

.whatsapp-button i {
  font-size: 25px; 
  margin-right: 2px; 
  vertical-align: middle; 
}

